<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>The FUTURE - banking on producing food & energy, all inside your wallet</span>
    <mat-icon class="example-icon">account_balance_wallet</mat-icon>

    <span class="example-spacer"></span>
    <a mat-raised-button color="primary" routerLink=".">Play Celeb Like Cards</a>
    <span class="example-spacer"></span>

    <button mat-button>About</button>
    <button mat-button>Services</button>
    <button mat-button>Contact</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container fluid">
  <div class="row">
    <div class="col-xs-12 offset-sm-2 col-md-8 offset-sm-2 col-xs-12">
      <h2 align="center">User Registration</h2>

      <mat-card class="example-container">
        <form class="example-form" class="example-container" #regForm="ngForm" (ngSubmit)="onSubmitForm()" novalidate>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" #email [formControl]='emailFormControl' required>
            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
              Please enter a valid email address !
            </mat-error>
            <mat-error *ngIf="emailFormControl.hasError('required')">
              Email is
              <strong>required.</strong>
            </mat-error>
            <mat-icon matSuffix (click)="hide = !hide">
              <i class='fa fa-envelope faa-burst animated fa-4x' style="font-size:12px;color:blue"></i>
            </mat-icon>
          </mat-form-field>

          <!--
          <mat-form-field hintLabel="Type in a unique username - max 12 characters." class="example-full-width">
            <input type="text" #userName maxlength=12 matInput placeholder="Username">
            <span matPrefix>login.</span>
            <span matSuffix>@YourEmailDomain</span>
            <mat-hint align="end">{{userName.value.length}} / 12</mat-hint>
          </mat-form-field>-->


          <div class="example-container">
            <mat-form-field hide="true" hintLabel="min. 8 chars, alphanumeric mixed case, & 1 of @,#,$">
              <input matInput placeholder="Enter password" [type]="hide ? 'password' : 'text'" pattern="^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                [formControl]='passwordFormControl' required>
              <mat-error *ngIf="passwordFormControl.hasError('pattern')">
                min. 8 chars, alphanumeric mixed case, & 1 of @,#,$
              </mat-error>
              <mat-hint align="end" *ngIf="passwordFormControl.status === 'VALID'">
                <span style="color:purple">Awesome password!</span>
              </mat-hint>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" [formControl]='confirmPasswordFormControl'
                required>
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
          </div>

          <mat-form-field>
            <input matInput #Name placeholder="Name" [formControl]='nameFormControl' required>
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Please enter your
              <strong>name !</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput #mobile placeholder="Mobile" pattern="[- +()0-9]+" [formControl]='mobileFormControl' required>
            <mat-error *ngIf="mobileFormControl.hasError('required')">
              Your contact is required.
              <strong>required.</strong>
            </mat-error>
            <mat-error *ngIf="mobileFormControl.hasError('pattern')">
              only digits, '+' '-' space and brackets allowed
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Date of birth" [formControl]='DOBFormControl' required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="DOBFormControl.hasError('required')">
              Your date of birth is
              <strong>required.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="Required.">
            <mat-select placeholder="Gender" [formControl]='genderFormControl' required>
              <mat-option *ngFor="let sex of sexes" [value]="sex.value">
                {{ sex.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="genderFormControl.hasError('required')">
              Your gender is
              <strong>required.</strong>
            </mat-error>
          </mat-form-field>

          <!--
          <mat-form-field hintLabel="For Singapore only">
            <input matInput #postalCode minlength="6" maxlength="6" placeholder="Postal Code" required>
            <mat-hint align="end">Must be 6 digits - {{postalCode.value.length}} / 6</mat-hint>
          </mat-form-field>
          -->

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Address" [formControl]='addressFormControl' required>
            <mat-error *ngIf="addressFormControl.hasError('required')">
              Your address is
              <strong>required.</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field hintLabel="">
            <mat-select placeholder="Country" [formControl]="countryFormControl" required>
              <mat-option *ngFor="let country of countries" [value]="country.value">
                {{ country.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="countryFormControl.hasError('required')">
              Your country is
              <strong>required.</strong>
            </mat-error>
          </mat-form-field>


          <div class="button-row">
            <hr>
            <button type="submit" mat-raised-button color="primary" [disabled]="!regForm.valid">Submit</button>
            <button type="reset" mat-raised-button color="accent" (click)="regForm.reset()">Reset</button>
          </div>

        </form>
      </mat-card>
      <div class="row" *ngIf="isSubmitted">
        <div class="col-6" [ngStyle]="{'background-color':'grey'}">
          <div class="form-group">
            <label>{{model.email}}</label>
          </div>
          <div class="form-group">
            <label>{{model.password}}</label>
          </div>
          <div class="form-group">
            <label>{{model.confirmPassword}}</label>
          </div>
          <div class="form-group">
            <label>{{model.name}}</label>
          </div>
          <div class="form-group">
            <label>{{model.mobile}}</label>
          </div>
          <div class="form-group">
            <label>{{model.DOB}}</label>
          </div>
          <div class="form-group">
            <label>{{model.gender}}</label>
          </div>
          <div class="form-group">
            <label>{{model.address}}</label>
          </div>
          <div class="form-group">
            <label>{{model.country}}</label>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<!--<router-outlet></router-outlet>-->